<div class="container">
    <div class="row">
        <div class="col-md-8 col-xm-12 col-sm-10">
            <div>
                <h3>{{welcome}}</h3> <!-- String interpolation -->
                <!-- <button class="btn btn-primary" [disabled]="!isTrue">Add</button> Property binding -->
                <!-- <input class="form-control mt-4" (input)="serverName($event)"/> $event -->
                <p [align]="position">This is Property Binding</p>
                <!--Property binding-->
                <button class="btn btn-success d-flex" (click)="createServer()">Create server</button>
                <!--Event binding-->
                <label for="">Enter a server name</label>
                <input class="form-control mt-1" [(ngModel)]="name"> <!-- Two-way binding-->
                <p>Server name is {{name}}</p>
                <p>{{isCreated}}</p>
            </div>
            <div> <!-- Getting the value by local reference and ViewChild-->
                <input type="text" class="form-control mt-1" placeholder="Enter anything" #inputElement>  <!-- local reference-->
                <button class="btn btn-secondary mt-1" (click)="getInputValue(inputElement)">Get input value</button>
            </div>
        </div>
    </div>
</div>

<hr>
<app-manual></app-manual>

